* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Cinzel", serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 3em 1em;
}

header .container {
  padding: 0 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 12rem;
}

nav ul {
  display: flex;
  gap: 3em;
}

nav a {
  color: black;
  font-size: 1.1rem;
}

nav i:hover {
  cursor: pointer;
  opacity: 0.5;
}

a:hover,
a:focus {
  opacity: 0.5;
}

main {
  background: url(./images/1.jpg);
  min-height: 66.75rem;
  color: white;
}

.blonde-section {
  padding-top: 17rem;
}

h1 {
  color: white;
  font-size: 5rem;
}

main a {
  color: white;
}

.btn {
  display: inline-block;
  background: black;
  padding: 1em 2.5em;
  color: white;
}

.section2 .container {
  display: flex;
  gap: 3em;
  text-align: center;
}
.section2 .container > * {
  flex: 1;
}

.section2 h3 {
  margin: 1em 0;
}

.section2 p {
  line-height: 1.5;
  color: #888888;
  font-family: "Mulish", sans-serif;
}

.momentum {
  background: #f3f5f7;
}

.momentum .container {
  display: flex;
  gap: 10em;
}

.momentum .container > * {
  width: 50%;
}

.momentum h2 {
  font-size: 3rem;
}

.momentum p {
  line-height: 1.5;
  margin: 2em 0;
  color: #888888;
  font-family: "Mulish", sans-serif;
}

.momentum .btn {
  color: white;
}

.color-day {
  padding: 3em 0;
}

.color-day .container {
  background: url("./images/9.jpg");
  background-size: cover;
  min-height: 35rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.color-day .container > * {
  padding-left: 3em;
}
.color-day p {
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.color-day p:nth-child(2) {
  font-size: 2rem;
}

.color-day strong {
  font-size: 3rem;
}

.lookbook-bg {
  text-align: center;
  font-size: 2rem;
}

.lookbook-bg h2 {
  margin-bottom: 1em;
}

.lookbook {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  gap: 2em;
}

.lookbook > * {
  background: lightblue;
  width: 22rem;
  height: 25rem;
}

.lookbook section:nth-child(1) {
  background: url("./images/lookbook1.png");
  background-size: cover;
}

.lookbook section:nth-child(2) {
  background: url("./images/lookbook2.png");
  background-size: cover;
}

.lookbook section:nth-child(3) {
  background: url("./images/lookbook3.png");
  background-size: cover;
}

.lookbook section:nth-child(4) {
  background: url("./images/lookbook4.png");
  background-size: cover;
}

.lookbook section:nth-child(5) {
  background: url("./images/lookbook5.png");
  background-size: cover;
}

.lookbook section:nth-child(6) {
  background: url("./images/lookbook6.png");
  background-size: cover;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  padding: 1em 0;
}

footer p {
  font-family: "Mulish", sans-serif;
}

footer a {
  color: black;
  text-decoration: underline;
  font-family: "Mulish", sans-serif;
}

@media (max-width: 40rem) {
  header {
    padding: 2em 0;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
  }

  .section2 .container {
    flex-flow: column;
  }

  .momentum .container {
    gap: 3em;
    flex-flow: column;
    /* text-align: center;
    align-items: center;
    gap: 40px;  */
  }
  .momentum .container > * {
    width: 100%;
  }
  .momentum h2 {
    font-size: 2rem;
  }

  .color-day .container > * {
    padding: 0;
  }
  .color-day p:nth-child(2) {
    font-size: 1.5rem;
  }

  .employees .container {
    flex-flow: column;
  }
  .lookbook-bg h2 {
    font-size: 2rem;
  }
}
